*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}


img {
  max-width: 100%;
  display: block;
}


:root {
--btn-links-color: #2A4DD0;
--marker-color: #4CA154;
--dark-color: #111729;
--main-text-color: #223344;
--cool-gray: #909193;
--main-bg-color: #F2F9FE;
--white: #FFFFFF;

--main-font: "Poppins", sans-serif;

--fonts-lg: 3.75rem;
--fonts-big: 1.125rem;
--fonts-md: 1rem;
--fonts-sm: 0.875rem;

--margin-sm: 1rem;
--margin-md: 2rem;
--margin-lg: 3rem;

--padding-sm: 1rem;
--padding-md: 2rem;
--padding-lg: 3rem;

--spacing-sm: 1rem;
}


body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font);
  padding: var(--padding-sm);
  max-width: 40rem;
}


.menus {
  display: flex;
  justify-content: end;
  align-items: start;
  position: relative;
  --spacing-md: 1.5625rem;
  bottom: var(--spacing-md);
}


.page-photo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}


.dark-color {
  color: var(--main-text-color);
  font-weight: 600;
  text-transform: uppercase;
  margin: var(--margin-sm) 0rem;
  font-size: var(--fonts-sm);
  letter-spacing: var(--spacing-p, -0.05rem);
}


.page-info h1 {
  color: var(--main-text-color);
  font-size: var(--h1-font, 2rem);
  font-weight: 700;
  letter-spacing: var(--ltr-spacing, -0.05rem);
  max-width: 12.5rem;
}


.page-info .light-color {
  color: var(--main-text-color);
  margin-top: var(--top-margin, 1.5rem);
}