*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}


img {
  max-width: 100%;
  display: block;
}


:root {
--btn-links-color: #2A4DD0;
--marker-color: #4CA154;
--dark-color: #111729;
--main-text-color: #223344;
--cool-gray: #909193;
--main-bg-color: #F2F9FE;
--white: #FFFFFF;

--main-font: "Poppins", sans-serif;

--fonts-lg: 3.75rem;
--fonts-big: 1.125rem;
--fonts-md: 1rem;
--fonts-sm: 0.875rem;

--margin-sm: 1rem;
--margin-md: 2rem;
--margin-lg: 3rem;

--padding-sm: 1rem;
--padding-md: 2rem;
--padding-lg: 3rem;

--spacing-sm: 1rem;

--transition: all 0.3s ease-in-out;
}


body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font);
  padding: var(--padding-sm);
  display: flex;
  max-width: var(--body-width, 40rem);
}



.primary_nav {
  display: flex;
  justify-content: end;
  align-items: start;
  position: relative;
  --spacing-md: 1.5625rem;
  bottom: var(--spacing-md);
}


.menu-toggle {
  background-color: var(--main-bg-color);
  border: none;
  cursor: pointer;
}


.page-photo {
  display: flex;
  justify-content: center;
}


.page-photo img {
  width: 100%;
  height: auto;
}


.dark-color {
  color: var(--main-text-color);
  font-weight: 600;
  text-transform: uppercase;
  margin: var(--margin-sm) 0rem;
  font-size: var(--font, 0.82rem);
  letter-spacing: var(--spacing-p, -0.05rem);
}


.page-info h1 {
  color: var(--main-text-color);
  font-size: var(--h1-font, 2rem);
  font-weight: 700;
  letter-spacing: var(--ltr-spacing, -0.05rem);
  max-width: 12.5rem;
}


.page-info .light-color {
  color: var(--main-text-color);
  margin-top: var(--top-margin, 1.5rem);
  font-size: var(--fonts-md);
}


.user_interaction {
  display: flex;
  gap: 2rem;
  margin: var(--margin-sm) 0;
}


.user_interaction button {
  width: 45%;
  background-color: var(--btn-links-color);
  padding: var(--v-sm-padding, 0.8rem 0.7rem);
  color: var(--white);
  font-weight: 500;
  border: none;
  border-radius: var(--border-rad, 0.6rem);
}


.user_interaction a {
  display: flex;
  text-decoration: underline;
  text-underline-offset: 0.3125rem;
  text-decoration-thickness: 0.1rem;
  align-items: center;
  font-size: var(--fonts-sm);
  font-weight: 500;
}


.check_list_box {
  color: var(--main-text-color);
  margin: var(--margin-md) -0.2rem;
  color: var(--main-text-color);
  display: flex;
}


.check_list_icon p {
  font-size: var(--font, 0.81rem);
  position: relative;
  bottom: var(--bottom, 1.375rem);
  left: var(--left, 1.6875rem);
  letter-spacing: var(--ltr-spacing, -0.03rem);
  z-index: -1;
}


.check_list_icon:nth-child(2) {
  margin-left: var(--left-margin, 2.75rem);
}


.nav-list {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--white);
  list-style: none;
  padding: var(--padding-lg);
  width: 70%;
  height: 100vh;
  translate: 100% 0; /*transform:tran..*/
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}


.nav-list.active {
  translate: 0 0;
  opacity: 1;
  visibility: visible;
}


.nav-list li {
  display: flex;
  justify-content: center;
  padding: var(--padding, 1.2rem) 0;
  font-size: var(--font, 1.3rem);
  font-weight: 600;

/* nav-list li child(1) */
&:nth-child(1) a {
  color: var(--btn-links-color);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.14rem;
}

/* nav-list li */
& a {
  color: var(--cool-gray);
}
}


.nav-close {
  position: absolute;
  top: 0.625rem;
  right: 0.9375rem;
  border: none;
  background-color: var(--white);
}


.theme-toggle {
  position: absolute;
  padding: 0;
  bottom: 30%;
  margin: 0 3.125rem;
  
  background-color: var(--dark-color);
  border: none;
  border-radius: var(--border-rad, 0.875rem);
  display: flex;


  /* tbis is the rounded box that is around either of the theme in any state */
  > .toggle-slider {
    position: absolute;
    background: var(--white);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    right: 0;
  }

  /* .theme-toggle img */
  > img {
      position: relative;
      width: 1.8rem;
      height: 1.8rem;
  }


  .theme-toggle.light-mode {
    background-color: yellow;
  }
}


@media (min-width: 56.25rem) {
  
}